@* @{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h2>🌺Add a new client!🌺</h2>
<br>


@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br>
  <br>
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)
  <br>
  <br>
  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)
  <br>
  <br>
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)
  <br>
  <br>
  @Html.LabelFor(model => model.StylistId)
  @Html.DropDownList("StylistId", ViewBag.StylistId )
  <br>
  <br>
  <input type="submit" value="Add new client"/>
}
<br>
<br>
<h3>@Html.ActionLink("Show all clients", "Index")</h3> *@